<div class="container">
  <div class="intro-left">
    <h5 id="welcome-head">Welcome</h5>
    <p>
      Welcome to Dylan Kelly's portfolio page! **WARNING** I have not added security to this page so please do NOT signup yet! This is just a layout page for people to check out my projects and code I have worked on. However, feel free to play Square-Wars! Also feel free to contact me qith questions or ideas!
      <br> -K3LLY-
    </p>
  </div>
  <div class="intro-right">
    <img src="/pictures/logo-pic.png" alt="holder picture" class="pic1"></img>
  </div>
</div>
<div class="projects">
  <h3 id="head-project">--Projects--</h3>

  <div class="item">
    <strong>Weekly budget App</strong><br><br>This was an application in which you could enter a budget and have it return weekly reports in spending, income, and over all totals. As well look up and set up diffrent budget containers. Build with: Nodejs, JavaScript, MongoDB. to view code click <a href="https://github.com/Dylandk10/calculator-app" target="_blank">Here</a>.
  </div>
  <div class="item">
    <strong>Square Wars online</strong><br><br>This was a web-application in which used sockets and web-networks to have multiplayer battles in my game square wars. This includes multiroom battles and player rankings. This will be released soon on my site, Built with Nodejs, to view code click <a href="https://github.com/Dylandk10/Square-Wars-Online"
      target="_blank">Here</a>.
  </div>
  <div class="item">
    <strong>Multipurpose calculator(Java)</strong><br><br>This was a calculator that could take binary and hexidecimal numbers as well and do basic mathmatics on it. I also added networking with this application to send to server side and view with friends. To view code click
    please click<a href="https://github.com/Dylandk10/calculate-java" target="_blank">Here</a>
  </div>
  <div class="item">
    <strong>AI Tic-Tac-Toe(Python)</strong><br><br>This is a tic-tac-toe game played threw the console, however it has some cool features like playing with friends or against a computer AI. I am will be adding a little more features soon. To view code click <a href="https://github.com/Dylandk10/python-tic-tac-toe-basic" target="_blank">Here</a>
  </div>
  <div class="item">
    <strong>video player (reactjs)</strong><br><br>A cool little front-end build of a video playing application using reactjs. Though this is not super cool, the reactjs is clean and working 100%. to view code click <a href="https://github.com/Dylandk10/React-video-player" target="_blank">Here</a>
  </div>
  <div class="item">
    <strong>Java Back Server</strong><br><br>A cool little backend server with commands to track users and get users information who are currently using the application
  </div>
  <div class="item" id="lastItem">
    <p>
      The projects listed are just some of my favorite ones, I have worked on countless others and will always be posting more to my Github! Tanks for checking out my page!
    </p>
  </div>
</div>
