<div id="navbar">
  <button class="btn"><a href="/" class="lks">Home</a></button>
  <button class="btn"><a href="/game" class="lks">Game</a></button>
  <button class="btn"><a href="/contact" class="lks">Contact</a></button>
  <button class="btn"><a href="https://github.com/Dylandk10" target="_blank" class="lks">GitHub</a></button>
  <button class="btn"><a href="/sign-up" class="lks">SignUp</a></button>

<div id="form1">
  <form action="http://127.0.0.1:3000/login">
    Email<input name="email" type="text">
    Password<input name="password" type="text">
    <input type="submit" value="Login">
  </form>
</div>
</div>
