<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>websiteName</title>
  </head>
  <body>
    <header><h1>{{titleName}}</h1></header>
    {{> navbar}}

    <footer>
      <p class="date">Created By - Dylan Kelly, CopyRight {{getDate}} </p>
    </footer>
  </body>
</html>
