<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/style.css" type="text/css" rel="stylesheet">
    <title>websiteName</title>
  </head>
  <body>
    <header><h1>{{titleName}}</h1></header>
      {{> navBarLoggin}}
      <div class="container">
        <div class="intro-left">
          <h5 id="welcome-head">Welcome</h5>
          <p>
            Welcome to Dylan Kelly's portfolio page! This page was made with Node.Js and Vanilla JavaScript with a mongoDB database. Completely coded by Dylan Aka screen-name "-K3LLY-". This site contains Square Wars v2!! Found under the Game tab, this site also
            has a fully working database and login methods to capture users high scores and email if they wish to contact me. This site is constantly being updated and UI is always changing so please be patient. Thanks for visiting and feel free to look
            around and contact me!
            <br> -K3LLY-
          </p>
        </div>
        <div class="intro-right">
          <img src="/pictures/logo-pic.png" alt="holder picture" class="pic1"></img>
        </div>
      </div>
      <div class="projects">
        <h3 id="head-project">--Projects--</h3>

        <div class="item">
          <strong>Dice Game aka Pig Game</strong><br><br>This was a front-end build of a game in which two players compete until the final score was reach.(The final score was set at the beginning of the game by players) The game was mostly made of JavaScript
          with CSS, it was a project to focus on number number minipulation and chaning CSS styles. To view my code click <a href="https://github.com/Dylandk10/Pig-Game-" target="_blank">Here</a>.
        </div>
        <div class="item">
          <strong>Budget App</strong><br><br>This was a front end build of a budget application that had some serious data and number minipulation. This project was mainly to CSS, and HTML. To view the code to this project click <a href="https://github.com/Dylandk10/Budget-App"
            target="_blank">Here</a>.
        </div>
        <div class="item">
          <strong>Square Wars V1</strong><br><br>This was another front-end build, the game was build by making three objects(player, npc, boss-npc). Then inserted into the HTML canvas, the player could move and shoot the enemy npc has they approch. If
          players got to close the player could also manually attack the npcs, after a player killed "X" amount of npcs the npcs would increase in numbers and soon after have a boss-npc join in. This game was build with mostly JavaScript. To view this code
          please click<a href="https://github.com/Dylandk10/Square-Wars" target="_blank">Here</a>. This game had a couple bugs, I hope to release a V2 in the near future to fix them.
        </div>
        <div class="item">
          <strong>Weather App</strong><br><br>This was a back-end end build using Node, The app would take the persons address, and use google from thr google API servers then use the latitude and longitude ofd the persons address and inject them into Dark
          Sky's API and gather the weather and read the weather back to the user. I will release code to GitHub soon.
        </div>
        <div class="item">
          <strong>Node-web Server</strong><br><br> This was my first complete build of a node-web-server using Node and Express. Though it dosent have a very friendly UI the main point was to work on server connectivity, build multiple dynamic web-pages.
          To view this code please click <a href="https://github.com/Dylandk10/node-web-server" target="_blank">Here</a>
        </div>
        <div class="item">
          <strong>React Video App</strong><br><br>This was a Small app built with React.Js, The App uses youtubes API and instantly renders videos upon searching.
        </div>
        <div class="item" id="lastItem">
          <p>
            The projects listed are just some of my favorite ones, I have worked and contributed to countless others. I have also work a little with Java and C++! Check out my Github for other projects I have worked on!
          </p>
        </div>
      </div>
    </div>
    <script src="/js/script2.js" type="text/javascript"></script>
  </body>

  </html>
